body{
    background-color:whitesmoke;
    opacity: 0;
    transform: translateY(30px);
    animation: slideFadeIn 0.6s ease-out forwards;
}

.header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar{
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
}
.navbar img{
    height: auto;
    width: 90px;
    border-radius: 50%;
}
.navbar button{
    background-color: blue;
    padding: 6px 9px;
    cursor: pointer;
    border: none;
    color: black;
    font-weight: 700;
    border-radius: 6px;
}
.button{
    margin-top: 20px;
    margin-right: 20px;
    
}
.button a{
color: black;
text-decoration: none;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(4, 4, 153);
    width: 100%;
    padding-bottom: 150px;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    animation: slideFadeIn 0.6s ease-out forwards;
}
.hero h1{
    color: whitesmoke;
    text-align: center;
    font-weight: 300;
}

.hero button{
    background-color: blue;
    padding: 6px 9px;
    cursor: pointer;
    border: none;
    color: black;
    font-weight: 700;
    border-radius: 6px;
}
.hero button a{
color: black;
text-decoration: none;
}
.hero p{
    padding-left: 15px;
    color:snow;
    font-weight: 100;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;  
}
.heros img{
    width: 40%;
    border-radius: 1000px 1000px 0 0;
}
.pics{
    margin:-80px;
    padding-left: 300px;

}
.pics img{
    height: 90px ;
    border-radius: 10px;
}
.white-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(30px);
    animation: slideFadeIn 0.6s ease-out forwards;
}
@keyframes slideFadeIn{
    to{
opacity: 1;
transform: translateY(0);
    }
}
.blog-card{
 background-color:whitesmoke;
    width: 80%;
    max-width: 600px;
    padding: 30px 20px;
    box-shadow: 0 8px 30px rgb(red, green, blue);
    box-sizing: border-box;
    border-radius: 12px;
    margin: -60px;
}
.blog-card h2{
    padding-left:15px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card{
    width: 90%;
    border: 1px solid rgb(192, 172, 172);
    border-radius: 5px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(30px);
    animation: slideFadeIn 0.6s ease-out forwards;
}


.card h3{
    padding-left:8px ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(68, 4, 4);
    padding-right: 5px;
}
.card p{
    padding-left: 8px;
    padding-right: 5px;
}
.card:hover{
    background-color: blue;
}
.container{
   display: flex;
   flex-direction: column;
   align-items: center;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(30px);
    animation: slideFadeIn 0.6s ease-out forwards;
}

.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31, 11, 143);
   margin: 10%;
   border-radius: 20px;
   color: black;
   max-width: 600px;
}
.container-content h2{
     color:whitesmoke;
    text-align: center;
    font-weight: 300;
}
.container-content p{
   padding-left: 15px;
    color: rgb(204, 193, 193);
    font-weight: 100; 
}
.container img{
    width: 60%;
}
.container button{
   background-color: blue;
    padding: 6px 9px;
    cursor: pointer;
    border: none;
    color: black;
    position: absolute;
    font-weight: 700;
    border-radius: 6px; 
    margin-top:10%;
}
.container button a{
    color: black;
    text-decoration: none;
}
a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.footer{
    background-color: white;
     opacity: 0;
    transform: translateY(30px);
    animation: slideFadeIn 0.6s ease-out forwards;
    border-radius: 20px;
}

.footer-content{
    padding: 20px;
}
.footer-content p{
    padding-left: 15px;
    color: rgb(37, 8, 8);
    font-weight: 100; 
}
.footer-content h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(68, 4, 4);
    
}

.footer img{
    width:20% ;
}