body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.login{
    width: 400px;

}

.logo img{
    width: 40%;
    padding-right: 250px;
    

    
}
.logo{
     display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    padding-right: 90px;
    font-weight:500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    padding-right: 90px;
    font-weight: 300;
    color: rgb(104, 100, 100);
    
  
}
.input-area .input-field{
    position: relative;
    width: 100%;
    height: 48px;
    margin-top: 40px;
    

}
.input-area .input-field input{
    width: 100%;
    height: 100%;
    background-color: #eaf2ff;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: black;
    padding: 0 15px 0 24px;
}
.input-area .input-field label{
    color: rgb(20, 20, 20);
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-button{
    position: relative;
    width: 100%;
    height: 48px;
    margin-top: 20px; 
    
  
}
.btn{
    background-color: blue;
    height: 100%;
    width:107.5%;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: black;
    

}

a{
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
p{
    color: blue;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 18px;

}